.container {
    text-align: center;
    padding: 20px;
  }
  
  .header-title {
    color: #001f44;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
  }
  
  .block-hero-header {
    color: #001f44;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 50px;
    font-weight: 900;
    line-height: 120%;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-bottom: 2px solid grey;
    position: relative;
  }
  
  .button, .button-hover {
    flex: 1 1 0px;
    text-align: center;
    padding: 10px 0;
    position: relative;
  }
  
  .button-hover {
    color: blue;
  }
  
  .button-hover::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background: blue;
  }
  
  .button-info {
    color: #001f44;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }

  .form-group {
    margin-bottom: 1em;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.input-group label {
  margin-bottom: 0.5em;
}

.input-group input, .input-group textarea, .input-group select {
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #333;
}